In [40]:
import numpy as np
import pandas as pd

chipo = pd.read_csv('data.tsv',sep='\t')
print(chipo)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

In [19]:
df = pd.DataFrame(chipo,columns=['item_name','item_price'])
print(df)

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [23]:
df.sort_values(by='item_name', ascending=False)

              item_name item_price
3889  Veggie Soft Tacos    $16.98
2851  Veggie Soft Tacos     $8.49
738   Veggie Soft Tacos    $11.25
1395  Veggie Soft Tacos     $8.49
2384  Veggie Soft Tacos     $8.75
...                 ...        ...
1916  6 Pack Soft Drink     $6.49
1124  6 Pack Soft Drink     $6.49
3789  6 Pack Soft Drink     $6.49
1392  6 Pack Soft Drink     $6.49
3614  6 Pack Soft Drink     $6.49

[4622 rows x 2 columns]

In [42]:
chipo.sort_values(by='order_id', ascending=False)

,order_id,quantity,item_name,choice_description,item_price
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
...,...,...,...,...,...
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
2,1,1,Nantucket Nectar,[Apple],$3.39
1,1,1,Izze,[Clementine],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

In [31]:
chipo.sort_values(by='quantity', ascending=False)
chipo.get_value(3598,'item_price')

C:\Users\rober\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

'$44.25 '

In [60]:
dfv=chipo.loc['Veggie Salad Bowl']
dfv.sort_values(by='order_id', ascending=False)
dfv.sum()

order_id                                                          17303
quantity                                                             18
choice_description    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...
item_price            $11.25 $11.25 $11.25 $11.25 $8.75 $8.75 $11.25...
dtype: object

In [87]:
dfc=chipo.loc['Canned Soda']
print(dfc)

             order_id  quantity choice_description item_price
item_name
Canned Soda         9         2           [Sprite]     $2.18
Canned Soda        14         1       [Dr. Pepper]     $1.09
Canned Soda        23         2     [Mountain Dew]     $2.18
Canned Soda        24         1           [Sprite]     $1.09
Canned Soda        47         1       [Dr. Pepper]     $1.09
...               ...       ...                ...        ...
Canned Soda      1562         1     [Mountain Dew]     $1.09
Canned Soda      1575         1       [Dr. Pepper]     $1.09
Canned Soda      1578         1  [Diet Dr. Pepper]     $1.09
Canned Soda      1604         1        [Diet Coke]     $1.09
Canned Soda      1621         1           [Sprite]     $1.09

[104 rows x 4 columns]